body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}

#mainButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    border: black solid 5px;
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-wrap: wrap;
    
}

#btn {
    width: auto;
    height: 27px;
    margin-top: 15px;
}

#numberSqr{
    width: 30px;
    height: 27px;
    margin: 15px;
    justify-content: center;
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
}

.square {
    width: 200px;
    display: flex;
    flex-grow: 1;
    border: black solid 1px;
}

#colors > *{
    margin: 0 5px 20px 5px;
    height: 27px;
}

#colors {
    display: flex;
    justify-content: center;
}

#solidButton {
    display: flex;
    gap: 10px;
}

#btnSolid {
    display: flex;
    align-items: center;
}
